{% extends 'index.html' %}

{% load widget_tweaks %}
{% load i18n %}

{% block main %}
    {% if validlink %}
    <div class="columns is-centered">
        <div class="column is-6 is-full-mobile">
            <div class="box">
                <p class="title is-3">
                    {% translate 'Setup your new password' %}
                </p>


                <form action="." method="post">
                    {% csrf_token %}

                    <div class="field">
                        <label class="label">{% translate 'New password' %}</label>
                        <div class="control">
                            {{ form.new_password1|add_class:'input'|add_error_class:'is-danger' }}
                        </div>
                    </div>

                    <div class="field">
                        <label class="label">{% translate 'Confirm new password' %}</label>
                        <div class="control">
                            {{ form.new_password2|add_class:'input'|add_error_class:'is-danger' }}
                        </div>
                    </div>

                    <button class="button is-primary" type="submit">
                        {% translate 'Save new password' %}
                    </button>
                </form>
            </div>
        </div>
    </div>
    {% else %}
        <div class="notification is-danger">
            <p>
                {% translate 'Your password link is invalid, please request a new one' %}
            </p>
        </div>
    {% endif %}
{% endblock main %}