{% load i18n %}
{% load widget_tweaks %}
<form action="." method="post">
    {% csrf_token %}

    <div class="field">
        <label class="label">
            {% translate 'Customer name' %}
        </label>
        <div class="control">
            {{form.name|add_class:'input'|add_error_class:'is-danger'}}
        </div>
        {% for err in form.name.errors %}
            <p class="help is-danger">{{ err }}</p>
        {% endfor %}
    </div>

    <div class="field">
        <label class="label">
            {% translate 'Email address' %}
        </label>
        <div class="control">
            {{ form.email|add_class:'input'|add_error_class:'is-danger' }}
        </div>
        {% for err in form.email.errors %}
            <p class="help is-danger">{{ err }}</p>
        {% endfor %}
    </div>

    <div class="buttons">
        <button type="submit" class="button is-primary">
            {% translate 'Save' %}
        </button>
        <a href="{% url 'customers:customers_list_view'%}" class="button is-light">
            {% translate 'Go back' %}
        </a>
    </div>
</form>