{% extends 'index.html' %}
{% load i18n %}

{% block main %}
    {% if is_confirmed %}
    <div class="notification is-success">
        <p>
            {% translate 'Your email was confirmed successfully. Thank you!' %}
        </p>
    </div>
    {% else %}
    <div class="notification is-danger">
        <p>
            {% translate 'Confirmation token is invalid' %}
        </p>
        <p>
            <a onclick="sendEmailConfirmation()">
                {% translate 'Send me confirmation email' %}
            </a>
        </p>
    </div>
    {% endif %}
{% endblock main %}