{% extends 'index.html' %}

{% load i18n %}
{% load widget_tweaks %}

{% block main %}

<div class="columns is-centered">
    <div class="column is-6 is-hidden-mobile">
        <div>
            <p class="title is-2">{% translate 'Welcome back' %}</p>
            <p class="subtitle is-4">
                {% translate 'Please login to continue using Trackedly' %}
            </p>
        </div>
    </div>
    <div class="column is-4 is-full-mobile">

        <div class="block">
            <div class="box">
                <form action="." method="post">
                    {% csrf_token %}

                    <div class="field">
                        <label class="label">
                            {% translate 'Email address' %}
                        </label>
                        <div class="control has-icons-left">
                            {{form.username|add_class:'input'|add_error_class:'is-danger'}}
                            <span class="icon is-left">
                                <i class="bx bx-envelope"></i>
                            </span>
                        </div>
                        {% for err in form.username.errors %}
                            <p class="help is-danger">{{ err }}</p>
                        {% endfor %}
                    </div>

                    <div class="field">
                        <label class="label">
                            {% translate 'Password' %}
                        </label>
                        <div class="control has-icons-left">
                            {{form.password|add_class:'input'|add_error_class:'is-danger'}}
                            <span class="icon is-left">
                                <i class="bx bx-lock-alt"></i>
                            </span>
                        </div>
                        {% for err in form.password.errors %}
                            <p class="help is-danger">{{ err }}</p>
                        {% endfor %}
                    </div>
                
                    <div class="block">
                        <a href="{% url 'password_reset' %}">
                            {% translate 'Forgot my password' %}
                        </a>
                    </div>

                    <div class="buttons">
                        <button type="submit" class="button is-primary is-fullwidth">
                            {% translate 'Log in' %}
                        </button>
                    </div>
                </form>
            </div>
        </div>

        <div class="block has-text-centered">
            <p>{% translate 'Do not have an account yet?' %}</p>
            <a href="{% url 'users:signup_view' %}">{% translate 'Create an account' %}</a>
        </div>

    </div>
</div>

{% endblock main %}