{% extends 'index.html' %}

{% load widget_tweaks %}
{% load i18n %}

{% block main %}
<div class="columns">
    <div class="column is-one-third is-full-mobile">
        {% include 'users/components/settings_menu_component.html' %}
    </div>
    <div class="column">
        <div class="block">
            <p class="title is-2">
                {% translate 'Password' %}
            </p>
        </div>

        <div class="block">
            <form action="." method="post">
                {% csrf_token %}

                <div class="field">
                    <label class="label">
                        {% translate 'New password' %}
                    </label>
                    <div class="control">
                        {{ form.new_password1|add_class:'input'|add_error_class:'is-danger' }}
                    </div>
                    {% for err in form.new_password1.errors %}
                        <p class="help is-danger">{{ err }}</p>
                    {% endfor %}
                </div>

                <div class="field">
                    <label class="label">
                        {% translate 'Repeat your password' %}
                    </label>
                    <div class="control">
                        {{ form.new_password2|add_class:'input'|add_error_class:'is-danger' }}
                    </div>
                    {% for err in form.new_password2.errors %}
                        <p class="help is-danger">{{ err }}</p>
                    {% endfor %}
                </div>



                <div class="buttons">
                    <button class="button is-primary" type="submit">
                        {% translate 'Save' %}
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock main %}