{% load usertags %}
{% load static %}
{% load i18n %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Trackedly</title>
    
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.0/css/bulma.min.css">
    <link rel="stylesheet" href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css">
    
</head>
<body class="has-navbar-fixed-top">

    {% include 'core/components/navbar.html' %}

    <main class="section container">
        {% if request.user.is_authenticated %}
            {% if request.user.is_email_confirmed == False %}
                {% include 'users/components/email_confirmation_banner.html' %}
            {% endif %}
        {% endif %}
        {% block main %} {% endblock main %}
    </main>

    {% if request.user.is_authenticated %}
    <form action="{% url 'users:logout_view' %}" id="app-logout-form" method="post">{% csrf_token %}</form>
    {% endif %}

    {% if not request.user.is_authenticated %}
        {% include 'core/components/footer.html' %}
    {% endif %}

    {% include 'core/components/scripts.html' %}
</body>
</html>