{% load usertags %}
{% load i18n %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Trackedly</title>
    
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.0/css/bulma.min.css">
    <link rel="stylesheet" href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css">
    
</head>
<body class="has-navbar-fixed-top">

    {% include 'core/components/navbar.html' %}

    <main class="section container">{% block main %} {% endblock main %}</main>

    {% if request.user.is_authenticated %}
    <form action="{% url 'users:logout_view' %}" id="app-logout-form" method="post">{% csrf_token %}</form>
    {% endif %}

    {% if not request.user.is_authenticated %}
        {% include 'core/components/footer.html' %}
    {% endif %}



    <script>
        function getCookie(name) {
            let cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                const cookies = document.cookie.split(';');
                for (let i = 0; i < cookies.length; i++) {
                    const cookie = cookies[i].trim();
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }

        function getCsrfToken(){
            return getCookie('csrftoken');
        }
    </script>

    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script src="{% url 'javascript-catalog' %}"></script>
</body>
</html>